# mine
local/
**/repomix-output.xml

# OS
.DS_Store

# IDE
.cursor/
.obsidian/
.idea/
.vscode/

# Python
__pycache__/
*.py[oc]
.venv/

# Node
node_modules/

# Build artifacts
frontend/dist/
backend/build/
backend/dist/
dist/

# Env
.env
.env.*
!.env.example
